<launch>

  <arg name="raw_scan_topic" default="$(eval optenv('JACKAL_LASER_TOPIC', 'front/scan'))" />
  <arg name="scan_topic" default="front/scan_preprocessed" />
  <arg name="replace_inf_range" default="20.0" />

  <node pkg="esdf_mapping" type="scan_preprocessor_node" name="scan_preprocessor_node" output="log">
    <param name="input_scan_topic" value="$(arg raw_scan_topic)"/>
    <param name="output_scan_topic" value="$(arg scan_topic)"/>
    <param name="replace_inf_range" value="$(arg replace_inf_range)"/>
  </node>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="log">
    <rosparam file="$(find esdf_mapping)/configs/gmapping.yaml" command="load"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

  <!--输出ESDF地图-->
  <!-- <node name="esdf_2d_node" pkg="esdf_mapping" type="esdf_2d_node" output="screen"/> -->
</launch>
