<launch>
  <!-- 1. 启动自研 Nav-VFH 节点 -->
  <node name="nav_vfh" 
        pkg="navigation_pkg" 
        type="test.py" 
        output="screen"/>

  <!-- 2. 启动 Jackal 的 gmapping 节点组 -->
  <!-- <include file="$(find jackal_navigation)/launch/include/gmapping.launch"/> -->

  <!-- 3. 启动 A* 全局规划器节点组 -->
  <!-- <include file="$(find astar_planner)/launch/astar_planner.launch"/> -->
</launch>